{% extends "base.html" %}
{% block title %}{{ post_dict.location }}. {{ post_dict.date }} {% endblock %}   
{% block content %}
    <div class="container py-5">
        <article>
          <ul>
            <li>
              Место: {{ post_dict.location }}             
            </li>
            <li>
              Дата: {{ post_dict.date }}
            </li>
            <li>
              Категория: <a href="{{post_dict.category}}">{{ post_dict.category }}</a>
            </li>
          </ul>         
          <p>
            {{ post_dict.text}}
          </p>          
        </article>                
      </div>
{% endblock %}
